<ion-view view-title="{{selection.Title}}">
  <ion-content>
    <div class="list card">
      <div class="item item-avatar">
        <img src="{{selection.Poster}}">
        <h2>{{selection.Title}}</h2>
        <p>{{selection.Year}}</p>
      </div>

      <div class="item row">
        <div class="col">
          <h5>IMDB</h5>
          <p>{{selection.imdbRating}}/10</p>
        </div>
        <div class="col">
          <h5>RT</h5>
          <p>{{selection.tomatoMeter}}%</p>
        </div>
        <div class="col">
          <h5>MetaScore</h5>
          <p>{{selection.Metascore}}%</p>
        </div>
      </div>

    </div>

    <div class="list card">
      <div class="item item-text-wrap">
        <h3>Plot</h3>
        <p>{{selection.Plot}}</p>
      </div>
    </div>

    <div class="list card">
      <div class="item">
        <h2>Watch It!</h2>
        <div class="row">
          <div class="col">
            <p><button class="button button-stable">Prime</button></p>
          </div>
          <div class="col">
            <p><button class="button button-stable">Hulu</button></p>
          </div>
          <div class="col">
            <p><button class="button button-stable">Netflix</button></p>
          </div>
        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-text-wrap">
        <h2>User Reviews</h2>
      </div>
      <div class="list">
        <div class="item item-icon-left item-text-wrap" ng-repeat="review in reviews | orderBy:'date':true">
          <i class="icon ion-happy" ng-if="review.recommend"></i>
          <i class="icon ion-sad" ng-if="!review.recommend"></i>
          {{review.author}}
          <p>{{review.content}}</p>
        </div>
      </div>
      <div class="item item-input-inset">
        <div class="row">
          <label class="item-input-wrapper">
            <input type="text" placeholder="Your Review" ng-model="$parent.reviewText" ng-submit="createReview()">
          </label>
          <button class="button button-balanced button-small icon ion-checkmark" ng-disabled="$parent.reviewText.length < 5" ng-click="createReview()"></button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>