<ion-view view-title="Browse">

  <ion-content>
    <div class="row center">
      <ion-scroll>
              
      <div class="list">

  <label class="item item-input item-select">
    <div class="input-label">
      Genres
    </div>
    <select>
      <option>Drama</option>
      <option selected>Romance</option>
      <option>Thriller</option>
    </select>
  </label>

</div>
      <ion-scroll direction="x" class="item wide-item">
          <a href="#"><img src="http://placehold.it/300x445"></a>
          <img src="http://placehold.it/300x445">
          <img src="http://placehold.it/300x445">
          <img src="http://placehold.it/300x445">
          <img src="http://placehold.it/300x445">
          <img src="http://placehold.it/300x445">
          <img src="http://placehold.it/300x445">
          <img src="http://placehold.it/300x445">
        </ion-scroll>
                
      



      </ion-scroll>
    </div>
  </ion-content>
</ion-view>