<ion-view view-title="Browse">

  <ion-content>
    <div class="row center">
      <ion-list>
        <h4>Drama</h4>
        <ion-scroll direction="x" class="item wide-item">
          <a href="#"><img src="http://placehold.it/350x150"></a>
          <img src="http://placehold.it/350x150">
          <img src="http://placehold.it/350x150">
          <img src="http://placehold.it/350x150">
          <img src="http://placehold.it/350x150">
          <img src="http://placehold.it/350x150">
          <img src="http://placehold.it/350x150">
          <img src="http://placehold.it/350x150">
        </ion-scroll>
        <h4>Thriller</h4>
        <ion-scroll direction="x" class="item wide-item">
          <a href="#"><img src="http://placehold.it/350x150"></a>
          <img src="http://placehold.it/350x150">
          <img src="http://placehold.it/350x150">
          <img src="http://placehold.it/350x150">
          <img src="http://placehold.it/350x150">
          <img src="http://placehold.it/350x150">
          <img src="http://placehold.it/350x150">
          <img src="http://placehold.it/350x150"> 
        </ion-scroll>
        <h4>Comedy</h4>
        <ion-scroll direction="x" class="item wide-item">
          <a href="#"><img src="http://placehold.it/350x150"></a>
          <img src="http://placehold.it/350x150">
          <img src="http://placehold.it/350x150">
          <img src="http://placehold.it/350x150">
          <img src="http://placehold.it/350x150">
          <img src="http://placehold.it/350x150">
          <img src="http://placehold.it/350x150">
          <img src="http://placehold.it/350x150"> 
        </ion-scroll>
        <h4>Romance</h4>
        <ion-scroll direction="x" class="item wide-item">
          <a href="#"><img src="http://placehold.it/350x150"></a>
          <img src="http://placehold.it/350x150">
          <img src="http://placehold.it/350x150">
          <img src="http://placehold.it/350x150">
          <img src="http://placehold.it/350x150">
          <img src="http://placehold.it/350x150">
          <img src="http://placehold.it/350x150">
          <img src="http://placehold.it/350x150"> 
        </ion-scroll>



      </ion-list>
    </div>
  </ion-content>
</ion-view>