<ion-view view-title="Browse">
  <ion-content>
    <div class="row center">
      <ion-scroll>
        <label class="item item-input item-select">
          <div class="input-label">
            Genre
          </div>
          <select ng-model="$parent.$parent.selectedGenre">
            <option ng-repeat="genre in genres" value="{{genre.$id}}">{{genre.$value}}</option>
          </select>
        </label>
        <ion-scroll direction="x" class="item wide-item" delegate-handle="genreScroll">
          <a ng-repeat="movie in genreMovies" ui-sref="main.movie({movieId: movie.imdbId})">
            <img src="{{movie.posterFullPath}}">
          </a>
        </ion-scroll>
      </ion-scroll>
    </div>
  </ion-content>
</ion-view>