<ion-view view-title="Profile">
  <ion-content>
    <div class="list card">
      <div class="item item-image">
        <img class="profile-picture" src="{{profileUser.picture}}">


        <h2>{{profileUser.name}}</h2>
        <p>4 Followers</p>

      </div>
    </div>

    <div class="list card">
      <div class="item">
        <h2>Recently Viewed</h2>
        <p>Power Rangers 4</p>
      </div>
    </div>

    <div class="list card">
      <a class="item" ui-sref="main.myplaylists({userId: $stateParams.userId})">
        <h2>Bucketlists</h2>
      </a>
    </div>
  </ion-content>
</ion-view>