<ion-view view-title="Profile">
  <ion-content>
    <div class="list card">
      <div class="item item-image">
        <img class="profile-picture" src="{{profileUser.picture}}">

        <h2>{{profileUser.name}}</h2>
        <p>Likes dogs</p>
      </div>
    </div>

    <div class="list card">
      <div class="item">
        <h2>Recently Viewed</h2>
        <p>Power rangers 4</p>
      </div>
    </div>

    <div class="list card">
      <div class="item">
        <h2>Bucketlists</h2>
        <p>See the eiffel tower</p>
      </div>
    </div>
  </ion-content>
</ion-view>