<ion-view view-title="Notifications">
	<ion-content>
		<div class="list">

    <a class="item item-avatar" href="#">
      <img src="venkman.jpg">
      <h2>Venkman</h2>
      <p>This person has followed you!</p>
    </a>

    <a class="item item-avatar" href="#">
      <img src="venkman.jpg">
      <h2>Kevin</h2>
      <p>This person has followed your Bucketlist!</p>
    </a>

    <a class="item item-avatar" href="#">
      <img src="venkman.jpg">
      <h2>Jack</h2>
      <p>You followed this person!</p>
    </a>


</div>
	</ion-content>
</ion-view>
