<ion-view view-title="Search">
  <ion-content>
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" ng-model="$parent.search.term" ng-model-options="{debounce: 250}">
      </label>
      <button class="button button-clear" ng-click="cancel()">
        Cancel
      </button>
    </div>

    <div class="list">
      <a ng-repeat="item in results" ui-sref="main.movie({movieId: item.imdbID})" class="item item-thumbnail-left">
        <img ng-src="{{item.Poster}}">
        <h2>{{ item.Title }}</h2>
        <h4>{{ item.Year }}</h4>
      </a>
    </div>
  </ion-content>
</ion-view>